.majorContainer
 display: flex
 justify-content: space-around
 height: 100vh
 align-items: flex-start
 
 @media (max-width: 500px)
  flex-direction: column
  justify-content: start
  

.filterContainer
 padding: 1rem
 border-radius: 8px
 box-shadow: 0 4px 10px rgba(0, 0 ,0, 0.5 )
 margin: 1rem auto


 h2
  text-align: center


.filterGroup
 margin-bottom: 2rem
 
 label
  display: block
  font-weight: 500

.button
 padding: 10px
 border: none
 border-radius: 6px
 background-color: rgb(166 110 240)
 color: white
 font-weight: bold
 cursor: pointer
 transition: background 0.3s ease
 width: 100%

 &:hover
  background-color: rgb(144 92 213)


.todoForm
 display: flex
 flex-wrap: wrap
 justify-content: center
 align-items: center
 gap: 2rem
 max-width: 700px
 border-radius: 12px
 box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5)
 padding: 2rem
 margin: 1rem

.formInput
 min-width: 200px
 width: 100%
 border-radius: 8px
 border: 1px solid #ddd
 font-size: 1rem
 background-color: #fafafa
 transition: border-color 0.3s ease
 display: flex
 justify-content: center 
 position: relative
 padding: 5px

 &:focus
  outline: none
  border-color: rgb(166 110 240)
  box-shadow: 0 0 0 2px rgba(92, 107, 192, 0.2)

.formContainer
 display: flex
 flex-direction: column
 gap: 1.5rem
 width: 100%

.errorForm
 color: red
 position: absolute
 font-size: 0.7rem

.tasksList
 list-style: none
 padding: 0
 

.task 
 display: flex
 flex-direction: column
 gap: 0.5rem
 padding: 1rem
 border: 1px solid #ccc
 background-color: #fdfdfd
 border-radius: 12px
 box-shadow: 0 6px 18px rgba(0, 0, 0, 0.5)
 margin: 1rem

.taskRow
 display: flex
 align-items: center
 gap: 1rem

.taskInfo
 margin: 0

.notDone 
 box-shadow: 0 6px 18px rgba(244, 9, 9, 0.5)

.notOverdue
 border-left: 4px solid rgba(43, 206, 56, 0.5)
  
.overdue 
 border-left: 4px solid #e74c3c 

.done 
 box-shadow: 0 6px 18px rgba(43, 206, 56, 0.5)


.deleteButton
 padding: 0.4rem 0.8rem
 background-color: #f091a2
 color: white
 border: none
 border-radius: 6px
 font-size: 0.9rem
 cursor: pointer
 transition: background-color 0.3s ease

 &:hover 
  background-color: #cb7484


.weatherStyles
 background: linear-gradient(135deg, rgba(213, 15, 231, 0.9), rgba(220, 162, 202, 0.85))
 color: #4b0066
 padding: 20px 25px
 border-radius: 15px
 box-shadow: 0 4px 12px rgba(0,0 ,0 , 0.5 )
 text-align: center
 margin: 1rem auto
 
 @media (max-width: 500px)
  width: 100%
  margin: 1rem


.filterBtn 
  display: none

  @media (max-width: 500px) 
    display: block
    position: fixed
    top: 15px
    right: 15px
    z-index: 101
    background: rgb(166 110 240)
    color: white
    padding: 8px 16px
    border: none
    border-radius: 6px
    font-size: 1rem
  

.filtersOverlay 
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.4)
  z-index: 99

.filtersModal 
  position: fixed
  top: 0
  right: 0
  width: 75%
  max-width: 300px
  height: 100%
  background: white
  padding: 20px
  z-index: 100
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3)
  animation: slideIn 0.3s ease forwards


@keyframes slideIn 
  from 
    transform: translateX(100%)
  to 
    transform: translateX(0%)
  


.closeBtn 
  position: absolute
  top: 10px
  right: 15px
  font-size: 1.5rem
  border: none
  background: none
  cursor: pointer


@media (max-width: 500px)
  .hideFilter
    display: none





