.majorContainer
 display: flex
 justify-content: space-between
 height: 100vh
 align-items: center

.filterContainer
 padding: 1rem
 border-radius: 8px
 box-shadow: 0 4px 10px rgba(0, 0 ,0, 0.5 )
 margin: 1rem 


 h2
  text-align: center


.filterGroup
 margin-bottom: 2rem
 
 label
  display: block
  font-weight: 500

.filterButton
 padding: 10px
 border: none
 border-radius: 6px
 background-color: rgb(166 110 240)
 color: white
 font-weight: bold
 cursor: pointer
 transition: background 0.3s ease
 width: 100%

 &:hover
  background-color: rgb(144 92 213)
